---
layout: default
---

<div class="home portfolio">
	<div class="post__wrap clearfix">
		{% assign posts = paginator.posts %}
		{% if posts.size > 0 %}
		<div class="macy-container">
			{% for post in posts %}
			<!--All Non-Featured Blog Posts-->
			{% if post.featured != true %}
			<div class="portfolio__item">
				<a href="{{ post.url | prepend: site.baseurl }}" class="portfolio__link">
					{% if post.thumbnail %}
						<img src="{{ post.thumbnail | prepend: site.baseurl }}" alt="{{ post.title }}" class="portfolio__image">
					{% else %}
						<img src="{{ '/images/misc/default-thumbnail.jpg' | prepend: site.baseurl }}" alt="{{ post.title }}" class="portfolio__image">
					{% endif %}
					<h1>{{ post.title }}</h1>
				</a>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		{% else %}
		<div class="post__item">
			<h2 class="post__title">Sorry. No posts yet.</h2>
			<a href="https://github.com/codethebeard" class="button">Check Out My GitHub</a>
		</div>
		{% endif %}
	</div>

	<!-- Pagination links -->
	<div class="pagination">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
		{% endif %}
		{% if paginator.page != paginator.total_pages %}
			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% endif %}
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="next">Next</a>
		{% endif %}
	</div>

</div>

{% include macy-scripts.html %}
