<header id="site-header" class="site__header">
    <a class="site__header__link page-link" href="{{ '/' | prepend: site.baseurl }}">
        <h1 class="site__title">Michael VanDyke</h1>
    </a>

    <div class="site__description">
        <p>Software Engineer, Technologist, and Photographer</p>

        <div class="social-icons clearfix">
            {% if site.github_username %}
                {% include icon-github.html username=site.github_username %}
            {% endif %}

            {% if site.twitter_username %}
                {% include icon-twitter.html username=site.twitter_username %}
            {% endif %}

            {% if site.linkedin_username %}
                {% include icon-linkedin.html username=site.linkedin_username %}
            {% endif %}
        </div>

        <a href="http://secure.churchilldownsincorporated.com/disclaimer" class="disclaimer" target="_BLANK">Disclaimer</a>
    </div>

    <nav class="site__nav">
        <div class="site__nav-wrap">
            <a class="page-link" href="{{ '/' | prepend: site.baseurl }}">Home</a>
            <a class="page-link" href="{{ '/about/' | prepend: site.baseurl }}">About</a>
            <a class="page-link" href="{{ '/portfolio/' | prepend: site.baseurl }}">Portfolio</a>
            <a class="page-link" href="{{ '/blog/' | prepend: site.baseurl }}">Blog</a>
            <a class="page-link" href="http://github.com/codethebeard/" target="_BLANK">GitHub</a>
        </div>

        <div class="icon-michael">{% include icon-michael.svg %}</div>
    </nav>

</header>
