<header id="site-header" class="site__header">
    <a class="site__header__link page-link" href="{{ site.url }}">
        <div class="site__logo">{% include beard-svg.svg %}</div>
        <h1 class="site__title">Michael Large</h1>
    </a>

    <div class="site__description">
        <h2>Make <del>America</del> <span class="text-emphasis">the web</span> great again!</h2>
        <p>Yo! My name is Michael Large. I'm a front-end developer currently pushing pixels with some great peeps at <a class="dotted-anchor" href="https://dbswebsite.com/">DBS Interactive</a>.</p>

        <div class="social-icons clearfix">
            {% if site.github_username %}
                {% include icon-github.html username=site.github_username %}
            {% endif %}

            {% if site.twitter_username %}
                {% include icon-twitter.html username=site.twitter_username %}
            {% endif %}

            {% if site.linkedin_username %}
                {% include icon-linkedin.html username=site.linkedin_username %}
            {% endif %}

            {% if site.codepen_username %}
                {% include icon-codepen.html username=site.codepen_username %}
            {% endif %}
        </div>
    </div>

    <nav class="site__nav">
        <div class="site__nav-wrap">
            {% for the_page in site.pages %}
            {% if the_page.title %}
            <a class="page-link" href="{{ the_page.url | prepend: site.baseurl }}">{{ the_page.title }}</a>
            {% endif %}
            {% endfor %}
            <a class="page-link" href="http://github.com/codethebeard" target="_BLANK">GitHub</a>
        </div>

        <div class="icon-michael">{% include icon-michael.svg %}</div>
    </nav>

</header>
