html, body{
	background: $white;
	height: 100%;
}

a{
	color: $blue;
	transition: all 500ms;

	&:hover{
		color: darken($blue, 5%);
	}

	&.dotted-anchor{
		text-decoration: none;
		border-bottom: 1px dotted $blue;
	}
}

.button{
	color: $white;
	background: $blue;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.3em 0.5em;
	box-shadow: 5px 5px 0px darken($blue, 20%);
	margin-top: 0.5em;
	margin-bottom: 1em;
	display: inline-block;
	transition: all 0.2s;
	position: relative;
	top: 0;
	left: 0;

	&:hover{
		color: $white;
		background: darken($blue, 10%);
	}

	&:active{
		box-shadow: 1px 1px 0px darken($blue, 20%);
		top: 4px;
		left: 4px
	}
}

.portfolio{
	width: 100%;
}

.profile{
	padding: 1em;

	a{
		display: block;
	}
}

.portfolio__item{
	width: 100%;
	float: left;
	position: relative;

	@media (min-width: 1080px) {
		width: 50%;
	}

}

.portfolio__image{
	width: 100%;
}

.page__featured-image{
	width: 100%;
}

.page__title,
.post__title{
	color: $blue-dark;
	text-shadow: none;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 1em;
	margin-top: 1rem;

	&:after{
		content: "";
		height: 3px;
		width: 2em;
		background: $blue-dark;
		position: absolute;
		bottom: -0.5em;
		left: 0;
		border-radius: 5px;
	}
}

.post__item .post__title{
	text-transform: none;
	margin-bottom: 0;


	&:after{
		display: none;
	}
}

.post__meta{
	margin-bottom: 0;
}

.post__item{
	margin-bottom: 2em;
}

.post__link{
	text-decoration: none;

	&:hover .post__title{
		color: lighten($blue-darker, 10%);
	}
}

.portfolio__image{
	display: block;
}

.portfolio__link{
	position: relative;
	overflow: hidden;
	display: block;
	text-decoration: none;

	h1{
		font-size: 1em;
		text-decoration: none;
		color: $grey-light;
		margin-top: 0.3em;
		text-align: center;
		font-weight: 400;
	}

	&:hover{
		text-decoration: none;

		.portfolio__item__info{
			right: 0;
		}
	}
}

.portfolio__item__info{
	position: absolute;
	display: block;
	min-width: 100%;
	top: 0;
	bottom: 0;
	right: 100%;
	padding: 1em;
	overflow: hidden;
	transition: right 0.5s;

	&:before{
		content: "";
		background: linear-gradient( -45deg, $orange, $blue );
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.7;
	}
}

.portfolio__item:nth-child(2n+1) .portfolio__item__info:before{
	background: linear-gradient( -45deg, $green, $orange );
}

.info__title{
	color: $white;
	position: absolute;
	bottom: 0;
	text-transform: none;

	@media (min-width: 570px) {
		font-size: 2em;
	}

	@media (min-width: 1950px) {
		font-size: 3em;
	}
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin-bottom: 1em;
	margin-top: 1em;
}

.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.instagram-embed{
	position: relative;
	max-width: 350px;
	margin-bottom: 2em;
	margin-top: 0em;

	&.float-right{
		margin-left: 1em;
	}

	&.float-left{
		margin-right: 1em;
	}
}
