// Layout
$cols: 12;
$gutter: 20px;
$outer: 1600px;
$papa: 1200px;
$mama: 768px;
$baby: 400px;


// Colors
$blue: #2098d1;
$blue-light: lighten($blue, 10%);
$blue-dark: darken($blue, 10%);

$red: #D9374A;
$red-dark: darken($red, 10%);

$yellow: #9E9808;

$grey: #33363B;
$grey-light: lighten($grey, 20%);
$grey-dark: darken($grey, 20%);

$white: #f8f8f8;
$black: #0C0C0C;


//************* Components

a{
    text-decoration: none;
    color: $red;
    transition: color 0.5s;

    &:hover,
    &:focus{
        color: $red-dark;
    }
}

.button{
    background: $white;
    color: $red;
    text-transform: uppercase;
    padding: 0.5em 1.5em;
    display: inline-block;
    font-weight: bold;
    border-radius: 20em;
    box-shadow: 0px 3px 0px 1px darken($white, 10%);
}

// Icons
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey;
        }
    }
}


// Header

.site--header{
    position: relative;
    background: $blue;
    color: $white;

    a{
        color: $white;
    }
}

.site--title{
    position: relative;
    display: block;
    z-index: 1;
    font-size: 1.8rem;
    line-height: 1em;
    padding: 0.5em;

    span{
        font-size: 68%;
        display: block;
    }
}



// Navigation
.toggle-btn {
    position: absolute;
    display: inline-block;
    padding: 0.7em;
    top: 1em;
    right: 1em;
    cursor: pointer;
    transition: opacity .4s,transform .4s;
    outline: none !important;
    z-index: 1;

    span{
        background: $white;
        display: block;
        width: 1.5em;
        height: 0.22em;
        margin-bottom: 0.22em;
        border-radius: 3px;
        transition: opacity 0.4s, transform 0.4s, border-radius 0.4s, background 0.4s;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &.active{
        transform: rotate(180deg);
        span{
            border-radius: 30px;
            transform-origin: center;
            background: $blue-light;
            &:nth-child(1){ transform: translateY(0.45em) rotate(-45deg); }
            &:nth-child(2){ opacity:0; }
            &:nth-child(3){ transform: translateY(-0.45em) rotate(45deg); }
        }
    }
}

.icon-michael{
    width: 15em;
    transform: rotate(65deg);
    right: 170%;
    position: absolute;
    transition: right 3s;
    transition-delay: 8s;
}

.site--nav{
    background: $blue-dark;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    top: 0;
    right: 0;
    left: 100%;
    transition: left 1s;
    padding-top: 5em;

    &.active{
        left: 0;
        box-shadow: 0px 0px 0px 6px rgba($black,0.2);

        @include respond($mama){
            left: 80%;
        }

        .icon-michael{
            right: 60%;
        }

        .page-link{
            margin-left: 0%;
        }
    }

    // Navigation Links
    .page-link{
        font-size: 2em;
        display: block;
        padding: 0.3em 1em;
        text-decoration: none;
        transition: margin 1.5s;
        font-weight: bold;
        margin-left: 60%;
        transform: scale3d(1, 1, 1);

        &:nth-child(1){ transition-delay: 0.1s; }
        &:nth-child(2){ transition-delay: 0.2s; }
        &:nth-child(3){ transition-delay: 0.3s; }
        &:nth-child(4){ transition-delay: 0.4s; }

        &:hover{
            background: $red;
        }
    }
}

.site-footer{

    .icon-wrap{
        margin-right: 1em;

        svg{
            width: 1.5em;
            height: 1.5em;
        }
    }

    .icon-wrap:last-of-type{ margin: 0; }

    hr{
        display: inline-block;
        width: 25%;
        margin: 0.5em;
    }
}



// HOMEPAGE
.home{
    background: $white;

    .block--wrap{
        @include respond($mama){
            display: flex;
        }
    }
}

.block--text-area{
    max-width: 500px;
    float: right;

    h1{
        text-shadow: 2px 2px 0px darken($blue, 10%);
    }

    p{ font-size: 0.8em; }
}


.portrait,
.blog-roll{
    @include respond($mama){
        // float: left;
    }
}

.portrait{
    display: block;
    min-height: 300px;
    width: 100%;
    background-position: 50% 10%;
    background-size: cover;

    @include respond($mama){
        width: 50%;
    }
    img{width: 100%; display: block;}
}

.blog-roll{
    @include respond($mama){
        width: 50%;
    }
}
