.site__header{
	background: linear-gradient( 120deg, $blue-dark, $blue-darker);
	overflow: hidden;
	padding: 1em;
	width: 100%;
	padding-bottom: 2em;
	color: $white;
	border-bottom: 10px solid $blue-dark;
	position: relative;
	transition: opacity 1s, max-width 1s;

	@media (min-width:$smallScreen) {
		min-height: 530px;
		width: 100%;
		max-width: 21rem;
		border: none;
		border-right: 10px solid $blue-dark;
		position: relative;
		flex: none;
	}
}

.site__description{
	padding-right: 1em;
	margin-top: 4em;

	@media (min-width: $smallScreen) {
		position: absolute;
		bottom: 2em;
		font-size: 0.9em;
		padding-right: 3.8em;
		padding-left: 2em;
	}

	h2{
		font-size: 2em;

		@media (min-width: $smallScreen) {
			font-size: 1.83769em;
		}
	}

	p{
		margin-bottom: 3em;
	}
}

.site__header.active{
	.site__logo{
		border: $white 3px solid;
		background: $orange;
		transform: scale(1.1) rotate(-13deg);
		box-shadow: none;

		svg path{
			fill: $white;
		}
	}

	.site__title{
		transform: scale(1.1);
	}
}

.site__title{
	display: inline-block;
	color: $white;
	font-size: 1.5em;
	text-transform: none;
	letter-spacing: 1px;
	font-family: $san-serif;
	font-weight: normal;
	text-transform: uppercase;
	transition: transform 0.8s;
	transform-origin: left;
	text-shadow: 0px 1px 3px darken($blue-darker, 10%);

	@media (min-width:$smallScreen) {
		transform-origin: center;
		font-size: 1.8em;
	}
}

.site__header__link{
	color: $white;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 2em;
	z-index: 1000;
	position: relative;

	@media (min-width:$smallScreen) {
		margin-left: 0em;
		margin-top: 2em;
		display: block;
		text-align: center;
	}
}

.site__logo{
	margin: 0 auto;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin-right: 0.5em;
	margin-top: -0.3em;
	transition: all 1s;
	vertical-align: middle;
	border: solid 3px $white;
	background: $white;
	border-radius: 50%;
	overflow: hidden;

	@media (max-width:$smallScreen) {
		box-shadow: 0em 0.1em 1em  darken($blue-darker, 10%);
	}

	&:hover{
		transform: scale(1.1) rotate(-13deg);
		box-shadow: 0em 0.4em 0.5em  darken($blue-darker, 10%);
	}

	@media (min-width:$smallScreen) {
		display: block;
		margin: 0 auto;
		margin-bottom: 0.5em;
		width: 4.5em;
		height: 4.5em;
		transform: rotate(-13deg);
	}

	svg{
		transform: translateY(3px);
	}

	path{
		fill: $blue-darker;
	}

}

.social-icons{
	.icon-wrap{
		display: inline-block;
		margin-right: 1.7em;
		width: 1.5em;

		svg path{
			fill: $white;
			transition: fill 500ms;
		}

		svg:hover path{
			fill: $orange;
		}

		&:hover{
			animation: wow 700ms ease-in-out;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes wow{
	0%{
		transform-origin: center;
		transform: rotate(0deg);
	}
	33%{
		transform-origin: center;
		transform: rotate(13deg);
	}
	66%{
		transform-origin: center;
		transform: rotate(-13deg);
	}
	100%{
		transform-origin: center;
		transform: rotate(0deg);
	}
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
