.site__header{
	background: #EEEEEE;
	overflow: hidden;
	padding: 1em;
	width: 100%;
	color: $black;
	position: relative;
	transition: opacity 1s, max-width 1s;
	border-bottom: solid 5px rgba(201,201,201, 0.6);

	&.active{
		.site__title{
			color: $white;
		}
	}

	@media (min-width:$smallScreen) {
		min-height: 530px;
		width: 100%;
		max-width: 18rem;
		position: relative;
		flex: none;
		border: none;
		border-right: solid 5px rgba(201,201,201, 0.6);
	}
}

.site__description{
	color: rgba($grey, 0.9);

	@media (min-width: $smallScreen) {
		position: absolute;
		bottom: 2em;
		font-size: 0.9em;
		padding-right: 0.5em;
	}

	p{
		margin-bottom: 1.3em;
	}
}

.site__title{
	display: inline-block;
	color: $black;
	font-size: 1.5em;
	letter-spacing: 1px;
	font-family: $san-serif;
	font-weight: bold;
	transition: color 1s;

	@media (min-width:$smallScreen) {
		transform-origin: center;
		font-size: 1.3em;
	}
}

.site__header__link{
	color: $black;
	text-decoration: none;
	display: inline-block;
	z-index: 1000;
	position: relative;

	@media (min-width:$smallScreen) {
		display: block;
		margin-bottom: 1em;
	}
}

.post__header{
	@media(min-width: $smallScreen){
		margin-left: 3rem;
		margin-right: 3rem;
	}
}

.in-progress{
	background: #E82F1A;
	color: white;
	padding: 0.3em;
	text-align: center;
	display: block;
	width: 120%;
	position: fixed;
	z-index: 4000;
	left: -10%;
	right: -10%;
	top: 20vh;
	transform: rotate(-6deg);
	text-transform: uppercase;
	border: white 5px dotted;
}

.social-icons{
	.icon-wrap{
		display: inline-block;
		margin-right: 0.3em;
		width: 1.5em;

		svg path{
			fill: $black;
			transition: fill 500ms;
		}

		svg:hover path{
			fill: $blue;
		}

		&:hover{
			animation: wow 700ms ease-in-out;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes wow{
	0%{
		transform-origin: center;
		transform: rotate(0deg);
	}
	33%{
		transform-origin: center;
		transform: rotate(13deg);
	}
	66%{
		transform-origin: center;
		transform: rotate(-13deg);
	}
	100%{
		transform-origin: center;
		transform: rotate(0deg);
	}
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
