.site__wrapper{
	@media (min-width:$smallScreen) {
		height: 100%;
		min-height: 600px;
		display: flex;
	}
}

.page-break{
	display: none;
}

.page__content{
	width: 100%;
	color: $blue-dark;
	height: 100%;
	overflow-y: scroll;
}

.page__portfolio .page{
	max-width: 100%;
}

.page__about .page{
	max-width: 800px;
}
.page__inner{
	padding: 0.5em;
}

.pagination{
	position: relative;
	text-align: center;
}

.gallery{
	position: relative;
	overflow: hidden;
	margin: 0 auto;

	@media(min-width: $smallScreen){
		margin-left: 3rem;
		margin-right: 3rem;
	}

	figure{
		margin: 0;

		a{
			display: block;
		}
	}
}


.float-right{
	float: none;
	@media (min-width: 920px) {
		float: right;
	}
}

.float-left{
	float: none;
	@media (min-width: 920px) {
		float: left;
	}
}

.clear{
	clear: both;
	min-height: 1px;
	position: relative;
	display:block;
}

.post__content{
	padding-top: 1em;

	img{
		max-width: 100%;
		position: relative;
	}
}
