.bow {
  display: block;
  width: 100%;
  max-width: $outer;

  padding-left: $gutter;
  padding-right: $gutter;

	&--fluid { max-width: 100%; }

  @include respond(#{$papa + ($gutter * 2)}) {
    margin-left: auto;
    margin-right: auto;

    padding-left: 0;
    padding-right: 0;
  }
}

.flex {
	width: 100%;
	display: flex;

	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
  align-items: flex-start;

	@include respond($papa) {
		margin-left: auto;
		margin-right: auto;

		padding-left: 0;
		padding-right: 0;

		max-width: $papa;

		&--fluid { max-width: 100%; }
	}
}

@include flex-grid($cols, $gutter, $papa, $mama, $baby);


.block{
    padding: 2em;
    background: $white;
}

.block--tight{
    padding: 1em;
}

.block--gray{
    background: $grey;

    [class*="icon"]{
        svg path{
            fill: $white;
        }
    }
}

.block--hero{
    background: $blue;
    color: $white;
    box-shadow: 0px 0px 0px 5px rgba($blue, 0.6);
    height: 70vh;
    min-height: 600px;
}
