html {
	font-size: $bodyFontSize;
	@media (min-width:$smallScreen) {
		font-size: $bodyFontSize * 0.95;
	}
	@media (min-width:$mediumScreen) {
		font-size: $bodyFontSize;
	}
	@media (min-width: ($mediumScreen + $mediumScreen * .5)) {
		font-size: $bodyFontSize * 1.1;
	}
	@media (min-width:$largeScreen) {
		//font-size: $bodyFontSize * 1.12;
	}
}

body {
	font-weight: normal;
	text-rendering: optimizeLegibility;
	color: $fontColor;
	font-size: $bodyFontSize;
	line-height: $bodyLineHeight;
	font-family: $san-serif;
	letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
	line-height: $headerLineHeight;
	margin-top: 0;
	margin-bottom: $marginSpace * .6;
	font-family: $san-serif;
	letter-spacing: 1px;
	font-weight: bold;
}

.page__content{
	letter-spacing: 0;
}

.site__header{
	h1, h2, h3, h4, h5, h6{
		text-transform: uppercase;
		font-weight: normal;
		text-shadow: 0px 1px 3px darken($blue-darker, 10%);
	}
}

.h1, h1 {
	font-size: $ratioScale * $ratioScale * $ratioScale * $ratioScale * $headerFontSize * .8;
	@media (min-width:$smallScreen) {
		font-size: $ratioScale * $ratioScale * $ratioScale * $ratioScale * $headerFontSize;
	}
	line-height: 1.2;
}

.h2, h2 {
	font-size: $ratioScale * $ratioScale * $ratioScale * $headerFontSize * .8;
	@media (min-width:$smallScreen) {
		font-size: $ratioScale * $ratioScale * $ratioScale * $headerFontSize;
	}
}

.h3, h3 {
	font-size: $ratioScale * $ratioScale * $headerFontSize * .8;
	@media (min-width:$smallScreen) {
		font-size: $ratioScale * $ratioScale * $headerFontSize;
	}
}

.h4, h4 {
	font-size: $ratioScale * $headerFontSize * .8;
	@media (min-width:$smallScreen) {
		font-size: $ratioScale * $headerFontSize;
	}
}

.h5, h5 {
	font-size: $headerFontSize * .8; // / $ratioScale;
	@media (min-width:$smallScreen) {
		font-size: $headerFontSize; // / $ratioScale;
	}
}

.h6, h6 {
	font-size: $headerFontSize / $ratioScale * .8; // / $ratioScale;
	@media (min-width:$smallScreen) {
		font-size: $headerFontSize / $ratioScale; // / $ratioScale;
	}
}

.hidden,
.hide,
.screen-reader-text {
	display: none;
}

.font_small,
small {
	font-size: 0.707em;
}

a {
	color: $linkColor;
	transition: color ease 0.3s;
}

a:hover {
	color: darken($linkColor, 10%);
}

ol, p, ul {
	margin: 0 0 $marginSpace;
}

ol ol, ol ul, ul ol, ul ul {
	margin: 0 0 $marginSpace;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $grey-light;
	margin: 0 0 $marginSpace;
	padding: 0;
}

blockquote {
	box-sizing: border-box;
	padding: 1em 1em;
	margin: 0;
	margin-top: 1em;
	margin-bottom: 1em;
    line-height: 1.4;
	border-top: $orange 3px solid;
	border-bottom: $orange 3px solid;
	color: $orange;
	position: relative;
	&:before{
		content: '\0022';
		color: lighten($orange, 45%);
		font-size: 10em;
		position: absolute;
		left: 0;
		top: -0.35em;
		z-index: 0;
		transform: rotate(-12deg);
	}

	@media (min-width:$smallScreen) {
		margin: 1em 3em;
	}
}

blockquote.small{
	@media (min-width:$smallScreen) {
		width: 50%;
		float: right;
	}
}

blockquote p {
	margin-bottom: 0;
	font-size: 1.5em;
	text-align: center;
	position: relative;
	z-index: 5;
}

blockquote small {
	display: inline-block;
	margin: 0 0 0.8em 1.5em;
	font-size: 0.9em;
}

blockquote small:before {
	content: '\2014 \00A0';
}

blockquote cite {
	font-weight: bold;
}

blockquote cite a {
	font-weight: normal;
}

dl {
	margin: 0 0 $marginSpace;
}

dl dt {
	float: left;
	width: 180px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	margin: 0 0 $marginSpace;
}

dl dd {
	margin-left: 2em;
	margin-bottom: $marginSpace;
}

mark {
	background-color: $grey-light;
}

code,
tt {
	padding: 1px 3px;
	font-family: Inconsolata, monospace, sans-serif;
	font-size: 0.85em;
	white-space: pre;
	border: 1px solid darken($grey-light,10%);
	background: $grey-light;
	border-radius: 2px;
}

pre {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 $marginSpace;
	border: 1px solid darken($grey-light,10%);
	width: 100%;
	padding: 1em 1.25em;
	font-family: Inconsolata, monospace, sans-serif;
	font-size: 0.9em;
	white-space: pre;
	overflow: auto;
	background: $grey-light;
	border-radius: 3px;
}

pre code,
tt {
	font-size: inherit;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
	background: transparent;
	border: none;
	padding: 0;
}

table {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 $marginSpace;
	width: 100%;
	max-width: 100%;
	background-color: transparent;
}

table td,
table th {
	padding: 0.5em;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #efefef;
}

//table th { color: #000; }
table caption + thead tr:first-child td,
table caption + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table thead:first-child tr:first-child td,
table thead:first-child tr:first-child th {
	border-top: 0;
}

table tbody + tbody {
	border-top: 2px solid #efefef;
}

table table table {
	background-color: #fff;
}
table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
	background-color: #f6f6f6;
}

table.plain {
	tbody > tr:nth-child(odd) > td,
	tbody > tr:nth-child(odd) > th {
		background: transparent;
	}
}

.screen-reader-text,
.hide-text{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.hide-text{
	text-indent: -9999px;
}

.screen-reader-text:active,
.screen-reader-text:focus{
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.text-emphasis{
	color: $orange;
}
