//	Layout
@include grid(12, 20px);  // BOOM! GRID!

.full-width{
	max-width: 100%;
}
.alignleft{
	float: left;
	margin-right: 5px;
}
.alignright{
	float: right;
	margin-left: 5px;
}
.aligncenter{
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
}
.desktop-only{
	display: none;
}
#masonry{
}
// set number of columns for breakponts
@include break($baby) {
	@include masonry(1,$gutter-width); // 2 columns
}

@include break($mama) {
	@include masonry(2,$gutter-width); // 3 columns
}

@include break($papa) {
	@include masonry(4,$gutter-width); // 4 columns
}
