/**
* Dynamically creates Grid system.
* @author Michael Large
* @see http://codethebeard.github.io/grille/
*/
@mixin grid( $cols: 12, $gutter: 20px, $mCols: 4, $papa: 1240px, $mama: 768px){

	// Mobile Setup
	$mColWidth:			100% / $mCols;
	
	
	// Adds ng namespace for no gutter grids.
	$ng: "";
	@if $gutter == 0px {
		$ng: "ng-";
	}
	
	//The Grid Class
	.grid-#{$ng}#{$cols}{
		@include clearfix;
		width: 100%;
		max-width: $papa;
		margin: 0 auto;
	
		// Default Mobile First Styles for columns
		[class*="col-"] {
			width: 100%;
			margin: 0;
			min-height: 1px;
			display: block;
			
			@if $ng != ""{
				margin-bottom: 0;
			} @else {
				margin-bottom: 10px;
			}
		}

		[class*="offset-"] {
			margin: 0;
		}

		@media screen and (max-width: $mama){

			// Iterating the column sizes for mobile sizes.
			$i: $mCols;
			@while $i > 0 {
				/* Mobile Only Based on 100% width */
				.col-m-#{$i} {
					width: ( ( 100% / $mCols) * $i );
					float: left;
				}
				$i: $i - 1;
			}

			// Mobile Column offests
			$i: $mCols - 1;
			@while $i > 0 {
				/* Mobile Only Based on 100% width */
				.offset-m-#{$i} {
					margin-left: ( (100% / $mCols) * $i );
				}
				$i: $i - 1;
			}
		}

		// Tablet and Up
		@media screen and (min-width: $mama){

			// Tablet and Up Setup
			$colWidth: 			($papa - (($cols - 1) * $gutter)) / $cols;
			$fluidGutter: 		percentage($gutter/$papa);
			$fluidColWidth: 	percentage($colWidth/$papa);
			
			// Default for Columns
			[class*="col-"]{
				float: left;
				display: inline-block;
				margin-right: ($fluidGutter);
				&:last-child{
					margin-right: 0;
				}
			}
			
			// Columns
			$i: $cols;
			@while $i > 0 {
				.col-#{$i} {
					width: ($fluidColWidth * $i) + ($fluidGutter * ($i - 1));
				}
				$i: $i - 1;
			}

			// Offsets
			$i: $cols - 1;
			@while $i > 0 {
				.offset-#{$i} {
					margin-left: ($fluidColWidth * $i) + ($fluidGutter * ($i - 1)) + ($fluidGutter);
				}
				$i: $i - 1;
			}
			// Neg Offsets
			$i: $cols - 1;
			@while $i > 0 {
				.offset--#{$i} {
					margin-left: (($fluidColWidth * $i) + ($fluidGutter * ($i - 1)) + ($fluidGutter)) * -1;
				}
				$i: $i - 1;
			}
		} //tablet
	}//.grid

	// Desktop and Up
	@media screen and (min-width: $papa){
	
	}
}