#main-content .post-blog-single{
	margin-bottom: 70px;
}

#main-content{
	padding: 0px 60px;
	width: 100%;
	background: lighten($grey, 40%);
	max-width: 100%;
	padding: 3em;
}

.post-title, .page-title{
	font-size: 2em;
	margin-bottom: 30px;

	@include break($mama){
		font-size: em(60px);
		margin-bottom: 60px;
	}
}

.page-title{
	text-align: center;
}

.author{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: lighten($grey, 30%);
	line-height: 1em;
	margin-bottom: 15px;
}

#tldr-post{
	width: 100%;
	padding: 20px;
	background: $grey;
	color: $white;
	margin-top: 20px;
	margin-bottom: 20px;
}
.tldr{
	h1{
		margin-bottom: 10px;
	}
}

#page-content{
	em{
		font-style: italic;
	}

	strong{
		font-weight: bold;
	}

	ul {
		margin-bottom: 1em;

		li{
			list-style-type: disc;
			margin-left: 1.5em;
		}
	}
}
