<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page--content">
      <div class="page--inner">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="{{ "/components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
        jQuery(document).on("ready", function(){
            jQuery('#nav-toggle').on("click", function(){
                jQuery(this).toggleClass("active");
                jQuery(".site--nav").toggleClass("active");
            });
        });
    </script>
  </body>

</html>
