<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    <div id="nav-toggle" class="toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="site__wrapper">
      {% include header.html %}

      <div class="page__content">
        <div class="page__inner">
          {{ content }}
        </div>
      </div>

    </div>

    <script defer type="text/javascript" src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
