---
layout: default
---
{% assign tldr = page.content | number_of_words %}

<div class="col-8 offset-2 post post-blog-single">

  <header class="post-header">

	{% if tldr > 600 and page.tldr %}<div class="tldr">{% endif %}

	    <p class="author">
	    	{{ page.date | date: "%b %-d, %Y" }}
			{% unless page.tags == nil %} • Tags: {{ page.tags | array_to_sentence_string }}{% endunless %}
			• Word Count: {{ page.content | number_of_words }}
	    </p>
	    <h1 class="post-title">{{ page.title }}</h1>

  	{% if tldr > 600 and page.tldr %}</div>{% endif %}

	{% if tldr > 600 and page.tldr %}
		<div class="tldr">
			<a id="tldr-btn" class="btn--tldr" href="#">
				TL;DR
			</a>
		</div>
		<div id="tldr-post" class="">
			<h2>Too Long; Didn't Read</h2>
			<p> Quick Summary: {{ page.tldr }} </p>
		</div>
	{% endif %}

    {% if page.featuredImage %}
    	<div class="featured-image" style="background-image: url('{{ page.featuredImage | prepend: site.url }}');"></div>
    {% endif %}
	
  	
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
